.name {
  margin: 2rem;
}
.age {
  margin: 2rem;
}
label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}
input {
  width: 50%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}
.btn {
  width: 20%;
  background-color: rgb(159, 64, 64);
  border: 0px solid white;
  border-radius: 0.5rem;
  color: white;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}
.btn:hover {
  cursor: pointer;
  background-color: brown;
}

.nameInput {
  background-color: rgb(207, 23, 23);
  border-inline-color: rgb(181, 12, 12);
  border-inline: rgb(198, 20, 20);
}
.invalid input {
  border-color: red;
  background: #ffd7d7;
}

.invalid label {
  color: red;
}
